.contacto {
    background-color: var(--bg-color);
}

.contacto h2{
    margin-bottom: 3rem;
    color: white;
}

.contacto form{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin:  5rem auto;
    text-align: center;
}

.contacto form .input-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contacto form .input-box input,
.contacto form textarea{
    width: 100%;
    padding: 2.5rem;
    font-size: 1.8rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: 2rem;
    border: 2px solid var(--main-color);
    margin: 1.5rem 0;
    resize: none;
}

.contacto form .btn{
    margin-top: 2rem;
}

.heading {
    font-size: 6rem;
    padding: 15px 0;
    margin: 10px 0;
    overflow: hidden;
}

.heading span {
    display: inline-block;
    background: linear-gradient(90deg, white, var(--main-color));
    background-size: 200% auto;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: 
      shine 3s linear infinite,
      float 4s ease-in-out infinite;
  }
  
  
  @keyframes shine {
    to { background-position: 200% center; }
  }
  
  @keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
  }

@media (max-width: 768px) {
    .contacto form {
        flex-direction: column;
        gap: 2rem;
    }

    .contacto form .input-box input,
    .contacto form textarea {
        width: 100%;
    }

    .contacto form .btn {
        width: 100%;
    }

    .heading {
        font-size: 3rem;
    }
}